 body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy-Regular';
    color: 000;
    font-size: 16px;
    /* min-width: 1720px; */
    
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.container {
    margin: 0 6.25em;
    margin: 0 auto;
    padding: 0 6.25em;
    max-width: 1720px;
}

.header {
    background: url('../img/header.jpg') no-repeat center top / cover;
}


#circleheadmain {
    position: absolute;
    width: 24px;
    height: 24px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    background: #D92C04;
    transform: matrix(0, 1, 1, 0, 0, 0);
    animation: preload 1.5s 0s;
}

.logo {
    margin-left: 34px; 
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 598px;
}

header a {
    color: #FFFFFF;
    margin-left: 160px;
    text-decoration: none;
    flex: none;
}


.nav{
    padding-top: 40px;
    margin-bottom: 300px;
    display: flex;
    font-size: 20px;
    font-weight: 500; 
    line-height: 24px;
    order: 0;
    flex-grow: 0;
}

.blog {
    margin-right: 0px;
}

.slog {
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 119px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-right: 0px;
    margin-bottom: 90px;
    display: flex;
}

.microslog {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-right: 0px;
    padding-bottom: 365px;
    display: flex;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#strela {
    margin-left: 20px;
}

.znak {
    width: 22px;
    height: 22px;
    position: relative; 
    right:10px; 
    bottom:9px;
}

/* .case {
    margin-left: 138px;
} */

.About {
    margin-left: 0px;
}

.circlefooter {
    position: absolute;
    width: 40px;
    height: 40px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    background: #D92C04;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.podval {
    padding-top: 90px;
    display: flex; 
    max-width: 100vw; 
    /* justify-content: space-between; */
    font-family: 'Gilroy-Regular';
    flex-grow: 0;
}

.bitrix {
    width: 86;
    height: 36;
    margin-top: 140px;
}

.mir {
    width: 82;
    height: 25;
    margin-top: 40px;
}

.rf {
    width: 53;
    height: 58;
    margin-top: 40px;
    padding-bottom: 75px;
}

footer a {
    color: #FFFFFF;
    font-family: 'Gilroy-Regular';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    opacity: 0.5;
}

#footerline {
    width: 107.5em;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-bottom: 0;
}

.logotips {
    margin-right: 584px;
}

.Top {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin-right: 160px;
    margin-bottom: 40px;
    word-wrap: normal;
    flex: none;
    white-space: nowrap;
}

.Down {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #181818;  
    opacity: 1;
}

.s5 {
    margin-right: 0;
}

.Last {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin-right: 0px;
    margin-bottom: 40px;
}

.Contacts {
    margin-bottom: 123px;
}

section {
    padding-top: 360px;
}

.nawiysligi {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 79px;
    color: #181818; 
    mix-blend-mode: normal;
    margin-bottom: 90px;
    display: flex;
    flex:none;
}

.lowh {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #181818;
    mix-blend-mode: normal;
    opacity: 0.4;
    
}

.ystr11 {
    position: absolute;
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: -72px;
}

.ystr12 {
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: -72px;
}

.ystr21 {
    position: absolute;
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.ystr22 {
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

.ystr31 {
    position: absolute;
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.ystr32 {
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

.circleyslygi {
    position: absolute;
    width: 40px;
    height: 40px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    background: #D92C04;
    transform: matrix(0, 1, 1, 0, 0, 0);
    margin: 183px 40px 40px 483px;
}

.WhiteElipsText {
    /* margin-right: 214px; */
    margin-top: 179px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.ourproducts {
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 79px;
    color: #181818;   
    mix-blend-mode: normal;
    margin-bottom: 90px;
}

.pstr11 {
    position: absolute;
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    
}

.pstr12 {
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
 
}

.pstr21 {
    position: absolute;
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.pstr22 {
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

.pstr31 {
    position: absolute;
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.pstr32 {
    height: 563px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

.WhiteElipsTextCase {
    margin-right: 78px;
    margin-top: 357px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.WhiteElipeSmallText {
    width: 20.700em;
    height: 84px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    opacity: 0.5;
    margin-right: 109px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 439px;
    position: absolute;
}

.WhiteElipsBigText {
    margin-right: 260px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 273px;
}

.circleproducts {
    position: absolute;
    width: 185px;
    margin-left: 338px;
    margin-bottom: 40px;
    margin-right: 40px;
    height: 74px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: #D92C04;
    border-radius: 25px;
    transform: matrix(0, 1, 1, 0, 0, 0);
    transform: rotate(360deg);
}

.price {
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: flex-end;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    margin: 16px 26px;
}

.ourcases {
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 79px;
    color: #181818;   
    mix-blend-mode: normal;
    margin-bottom: 90px;
}

.ourstyd {
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 79px;
    color: #181818;   
    mix-blend-mode: normal;
    margin-bottom: 90px;
}

#stydteam {
    margin-top: -72px;
    margin-left: 574px;
    border-radius: 25px;
    height: 644px;
    width: 71.625em;
}

.sstr11 {
    position: absolute;
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.sstr12 {
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

.sstr21 {
    position: absolute;
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 574px;
    margin-right: 0;
    margin-top: 20px;
}

.sstr22 {
    height: 263px;
    width: 18.767em;
    border-radius: 25px;
    background: url('../img/BlackEllips.svg') no-repeat center top / cover;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-left: 1157px;
    margin-top: 20px;
}

#ourteam {
    width: 107.5em;
    height: 600px;
    margin-bottom: 360px;
}

.podvalmenu{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100%;
    max-width: 100vw; 
    justify-content: space-between;
    flex-grow: 0;
}

.logoheader {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin-left: 34px;
    margin-right: 557px;
}

li a {
    color: #FFFFFF;
    font-family: 'Gilroy-Regular';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    opacity: 0.5;
    margin-left: 0;
    display: flex;
    margin-bottom: 20px;
}

.nav:hover .podvalmenu {
    display: flex;
}


#circlehead {
    position: absolute;
    width: 24px;
    height: 24px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    background: #D92C04;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.Tel {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #181818;  
    opacity: 1;
    padding-bottom: 116px;
}

.menu-open {
    display: none;
    background: none;
    border: block;
}



@media screen and (max-width: 1919px) {
    .container {
        width: 1200px;
    }
    header a {
        margin-left: 8%;
    }
    .logo {
        margin-right: 18%;
    }

    .logoheader {
        margin-right: 18%;
    }

    .podvalmenu {
        margin: 0 auto;
        padding: 0 6.25em;
    }

    .lowh {
        width: 10%;
    }
    .ystr11 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr12 {
        width: 415px;
        margin-left: 51%;
    }

    .ystr21 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr22 {
        width: 415px;
        margin-left: 51%;
    }

    .ystr31 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr32 {
        width: 415px;
        margin-left: 51%;
    }

    .circleyslygi {
        margin: 183px 40px 40px 80%;
    }

    .pstr11 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr12 {
        width: 415px;
        margin-left: 51%;
    }

    .pstr21 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr22 {
        width: 415px;
        margin-left: 51%;
    }

    .pstr31 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr32 {
        width: 415px;
        margin-left: 51%;
    }

    .WhiteElipeSmallText {
        width: 15em;
    }

    .circleproducts {
        width: 4.8em;
        margin-left: 62%;
    }

    .price {
        font-size: 21px;
        margin: 16px 26px;
    }

    .sstr11 {
        width: 415px;
        margin-left: 10%;
    }

    .sstr12 {
        width: 415px;
        margin-left: 51%;
    }

    .sstr21 {
        width: 415px;
        margin-left: 10%;
    }

    .sstr22 {
        width: 415px;
        margin-left: 51%;
    }

    #stydteam {
        height: 35em;
        width: 52.2em;
        margin-left: 11.988em;
    }

    #ourteam {
        height: 100%;
        width: 100%;
    }

    #footerline {
        height: 100%;
        width: 100%;
    }

    .logotips {
        margin-right: 25%;
    }

    .Top {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 425px;
        margin: 0 auto;
        padding: 0 1em
    }

    header a {
        margin-left: 8%;
        display: none;
    }

    .header .show-header-a {
        display: block;
        position: absolute;
        background: 0 0 0 0 4;
        left: 0;
        top: 0;
        width: 100%;
        padding: 40px 20px 20px 40px;
    }
    
    .logo {
        margin-right: 18%;
    }

    .logoheader {
        margin-right: 18%;
    }

    .podvalmenu {
        margin: 0 auto;
        padding: 0 6.25em;
    }

    .lowh {
        width: 10%;
    }
    .ystr11 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr12 {
        width: 415px;
        margin-left: 51%;
    }

    .ystr21 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr22 {
        width: 415px;
        margin-left: 51%;
    }

    .ystr31 {
        width: 415px;
        margin-left: 10%;
    }

    .ystr32 {
        width: 415px;
        margin-left: 51%;
    }

    .circleyslygi {
        margin: 183px 40px 40px 80%;
    }

    .pstr11 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr12 {
        width: 415px;
        margin-left: 51%;
    }

    .pstr21 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr22 {
        width: 415px;
        margin-left: 51%;
    }

    .pstr31 {
        width: 415px;
        margin-left: 10%;
    }

    .pstr32 {
        width: 415px;
        margin-left: 51%;
    }

    .WhiteElipeSmallText {
        width: 15em;
    }

    .circleproducts {
        width: 4.8em;
        margin-left: 62%;
    }

    .price {
        font-size: 21px;
        margin: 16px 26px;
    }

    .sstr11 {
        width: 415px;
        margin-left: 10%;
    }

    .sstr12 {
        width: 415px;
        margin-left: 51%;
    }

    .sstr21 {
        width: 415px;
        margin-left: 10%;
    }

    .sstr22 {
        width: 415px;
        margin-left: 51%;
    }

    #stydteam {
        height: 35em;
        width: 52.2em;
        margin-left: 11.988em;
    }

    #ourteam {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }

    footer {

    }

    #footerline {

    }

    .logotips {
        margin-right: 25%;
    }

    .Top {
        margin-right: 100px;
    }
    ul, li {
        display: table-row-group;
    }

    .menu-open {
        font-size: 40px;
        text-align: right;
        color: #ffff;
        margin-left: 100px;
        display: flex;
    }

  
    
}



/* @keyframes preload {
    from {
        margin-top: -100px;
        margin-left: -100px;
        width: 1920px;
        height: 1920px;
    }
    to {
        width: 24px;
        height: 24px;
    }
} */
